@import "settings/colors";
@import "settings/fonts";

.form__info {
  background-color: $color-yellow;
  padding: 50px 150px;

  h3 {
    font-size: 36px;
    display: block;
    margin-bottom: 10px;
  }

  p {
    font-size: 22px;
  }

}