@import "settings/colors";
@import "settings/fonts";

.title {
  font-size: 36px;
  text-align: center;
  font-weight: 400;
  margin-bottom: 100px;
  position: relative;
  display: block;

  &::after {
    content: "";
    position: absolute;
    background-image: url(../assets/Decoration.svg);
    display: block;
    width: 250px;
    height: 30px;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
  }

}