@import "settings/colors";
@import "settings/fonts";

.whowehelp {
  margin-top: 80px;
  margin-bottom: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.whowehelp__buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 60px;
}

.whowehelp__button {
  height: 80px;
  width: 220px;
  font-size: 24px;
  color: $color-darkgray;
  border: none;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.whowehelp__button:hover {
  border: 0.75px solid $color-darkgray;
}

.whowehelp__text {
  width: 640px;
  text-align: center;
  font-size: 22px;
  color: $color-darkgray;
}