@import "settings/colors";
@import "settings/fonts";

.title {
  font-size: 36px;
  text-align: center;
  font-weight: 400;
  color: $color-darkgray;
  margin-bottom: 60px;
  position: relative;
}

.title::after {
  content: "";
  position: absolute;
  background-image: url(../assets/Decoration.svg);
  display: block;
  width: 250px;
  height: 30px;
  top: 130%;
  left: 50%;
  transform: translateX(-50%);
}