@import "settings/colors";
@import "settings/fonts";

.pagination {

  .pagination__list {
    display: flex;
  
    li {
      list-style: none;

  
      span {
        text-decoration: none;
        color: $color-darkgray;
        font-size: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 50px;
        cursor: pointer;
        margin: 0 5px;

        &:hover,
        &.active {
          border: 0.75px solid $color-darkgray;
        }

      }

    }

  }

}