@import "settings/colors";
@import "settings/fonts";

.logout {
  margin-top: 120px;
  margin-bottom: 60px;
  height: 570px;

  .logout__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .logout__button {
      text-decoration: none;
      font-size: 18px;
      color: $color-darkgray;
      width: 150px;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 0.75px solid $color-darkgray;
    }

  }

}