@import "settings/colors";
@import "settings/fonts";

.register {
  margin-top: 120px;
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .register__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .register__fields {
      width: 385px;
      height: 330px;
      margin-bottom: 50px;
      background-color: $color-light;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      label {
        display: flex;
        flex-direction: column;
    
        input {
          border: none;
          border-bottom: 1px solid $color-lightgray;
          background-color: transparent;
          font-size: 18px;
          padding-top: 10px;
        }
    
      }
    
      label:not(:first-child) {
        margin-top: 30px;
      }
  
      .login__error {
        color: red;
        font-size: 12px;
        width: 241px;
      }
    
    }

  }

  .register__buttons {
    width: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .register__button {
      text-decoration: none;
      color: $color-darkgray;
      background-color: transparent;
      width: 120px;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;

      &:hover,
      &.active {
        border: 0.75px solid $color-darkgray;
      }

    }

  } 

}